<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cncButton</title>
</head>
<body>

<div th:fragment="cnc-button(label, active)">
    <div class="cnc-btn-wrap">
        <button class="cnc-btn" th:classappend="${active} ? ' cnc-btn--active'">
            <div class="cnc-btn__body">
                <span class="cnc-btn__text" th:text="${label}">LABEL</span>

                <div class="cnc-btn__wall cnc-btn__wall--left"></div>
                <div class="cnc-btn__wall cnc-btn__wall--right"></div>
                <div class="cnc-btn__wall cnc-btn__wall--bottom"></div>
            </div>
        </button>
    </div>
</div>

</body>
</html>